<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-everyplay"
        version="0.3">

  <name>Everyplay</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/everyplay.js" target="js/everyplay.js"/>

  <js-module src="www/everyplay.js" name="everyplay">
    <clobbers target="everyplay" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="EveryPlay">
        <param name="android-package" value="com.plugin.EveryPlay"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-feature android:glEsVersion="0x00020000" />
      <uses-feature android:name="android.hardware.touchscreen" />
      <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
      <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />

      <uses-permission android:name="android.permission.WAKE_LOCK" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity
         android:name="com.everyplay.Everyplay.view.EveryplaySocialActivity" 
           android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@android:style/Theme.NoTitleBar"
           android:windowSoftInputMode="adjustResize"
           android:screenOrientation="sensor"
           android:hardwareAccelerated="true" />

       <activity
         android:name="com.everyplay.Everyplay.view.EveryplayTextInputActivity" 
           android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@android:style/Theme.NoTitleBar"
           android:windowSoftInputMode="stateVisible|adjustResize"
           android:screenOrientation="sensor"
           android:hardwareAccelerated="false" />
       
       <activity
         android:name="com.everyplay.Everyplay.view.videoplayer.EveryplayVideoPlayerActivity"
           android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
           android:windowSoftInputMode="adjustResize"
           android:screenOrientation="sensor"
           android:hardwareAccelerated="true" />

       <activity
         android:name="com.everyplay.Everyplay.view.videoplayer.EveryplayVideoEditorActivity"
           android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
           android:windowSoftInputMode="adjustResize"
           android:screenOrientation="sensor"
           android:hardwareAccelerated="true" />

       <activity
         android:name="com.everyplay.Everyplay.view.EveryplaySharingModalActivity"
           android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@style/EveryplaySharingModal"
           android:windowSoftInputMode="adjustResize"
           android:screenOrientation="sensor"
           android:fitsSystemWindows="true"
           android:hardwareAccelerated="true" />

       <activity
         android:name="com.everyplay.Everyplay.view.browser.EveryplayBrowserActivity"
           android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@android:style/Theme.NoTitleBar"
           android:windowSoftInputMode="adjustResize"
           android:screenOrientation="sensor"
           android:hardwareAccelerated="false" />
       
       <activity
         android:name="com.everyplay.Everyplay.view.auth.EveryplayAuthActivity"
           android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@android:style/Theme.NoTitleBar"
           android:screenOrientation="sensor"
           android:hardwareAccelerated="false"
           android:windowSoftInputMode="adjustResize" />
       
       <activity
         android:name="com.everyplay.Everyplay.view.auth.EveryplayAddConnectionActivity"
           android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@android:style/Theme.Dialog"
           android:hardwareAccelerated="false"
           android:screenOrientation="sensor"
           android:windowSoftInputMode="adjustResize" />
       
       <activity
         android:name="com.everyplay.Everyplay.communication.socialnetworks.EveryplayFacebook"
           android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
           android:theme="@android:style/Theme.Dialog"
           android:hardwareAccelerated="false"
           android:screenOrientation="sensor"
           android:windowSoftInputMode="adjustResize" />
       
       <service 
           android:name="com.everyplay.Everyplay.communication.upload.EveryplayUploadService" />
    </config-file>

    <source-file src="src/android/EveryPlay.java" target-dir="src/com/plugin/"/>

    <framework src="src/android/everyplay.gradle" custom="true" type="gradleReference" />
    
    <source-file src="everyplay-android-library/everyplay.aar" target-dir="everyplay-android-library"/>

  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="EveryPlay">
        <param name="ios-package" value="EveryPlay" />
      </feature>
    </config-file>

    <header-file src="src/ios/EveryPlay.h" target-dir="EveryPlay"/>
    <source-file src="src/ios/EveryPlay.m" target-dir="EveryPlay"/>

    <resource-file src="src/ios/Everyplay.bundle" />
    <framework src="src/ios/Everyplay.framework" custom="true"/>

    <framework src="AdSupport.framework" />
    <framework src="AssetsLibrary.framework" />
    <framework src="AudioToolbox.framework" />
    <framework src="AVFoundation.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="CoreImage.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="CoreVideo.framework" />
    <framework src="Foundation.framework" />
    <framework src="MessageUI.framework" />
    <framework src="MobileCoreServices.framework" />
    <framework src="OpenGLES.framework" />
    <framework src="QuartzCore.framework" />
    <framework src="Security.framework" />
    <framework src="Social.framework" />
    <framework src="StoreKit.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="Twitter.framework" />
    <framework src="UIKit.framework" />

  </platform>

</plugin>