<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-everyplay"
        version="0.2">

  <name>Everyplay</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/everyplay.js" target="js/everyplay.js"/>

  <js-module src="www/everyplay.js" name="everyplay">
    <clobbers target="everyplay" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="EveryPlay">
        <param name="android-package" value="com.plugin.EveryPlay"/>
      </feature>
    </config-file>

    <source-file src="src/android/EveryPlay.java" target-dir="src/com/plugin/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="EveryPlay">
        <param name="ios-package" value="EveryPlay" />
      </feature>
    </config-file>

    <header-file src="src/ios/EveryPlay.h" target-dir="EveryPlay"/>
    <source-file src="src/ios/EveryPlay.m" target-dir="EveryPlay"/>

    <resource-file src="src/ios/Everyplay.bundle" />
    <framework src="src/ios/Everyplay.framework" custom="true"/>

    <framework src="AdSupport.framework" />
    <framework src="AssetsLibrary.framework" />
    <framework src="AudioToolbox.framework" />
    <framework src="AVFoundation.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="CoreImage.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="CoreVideo.framework" />
    <framework src="Foundation.framework" />
    <framework src="MessageUI.framework" />
    <framework src="MobileCoreServices.framework" />
    <framework src="OpenGLES.framework" />
    <framework src="QuartzCore.framework" />
    <framework src="Security.framework" />
    <framework src="Social.framework" />
    <framework src="StoreKit.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="Twitter.framework" />
    <framework src="UIKit.framework" />

  </platform>

</plugin>